html {
  height: 100%;
  width: 100%;
  font-family: "inconsolata";
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70rem;
  font-size: 18px;
  padding-top: 20px;
}

#welcome-message {
  font-size: 20px;
  font-weight: bold;
}

section,
#joke-search-form {
  background-color: #f6ee8a;
  border: 10px dotted #dc933d;
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
  max-width: 900px;
  text-align: center;
  overflow: hidden;
}

#logo {
  max-width: 100%;
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

#joke-search-form,
#featured-joke,
#joke-generator {
  flex: 1;
  width: 700px;
}

#joke-hunt-text {
  padding: 0;
  margin: 0;
  font-size: smaller;
  font-weight: lighter;
  font-style: italic;
}

#joke-generator-btn {
  border: none;
  background: none;
  font-size: 50px;
  cursor: pointer;
}

#joke-search-btn {
  cursor: pointer;
}

#keyword-input,
#joke-search-btn,
#name {
  border: 1px solid #dc933d;
  background-color: #ffdead;
  padding: 0.7rem;
  margin-bottom: 10px;
  border-radius: 10px;
}

footer {
  text-align: right;
  position: relative;
  float: right;
  font-size: smaller;
  font-weight: 50;
  font-style: italic;
  color: #dc933d;
}
